@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/form/_all";
@import "../node_modules/bulma/sass/elements/button";

$primary-blue: hsl(220, 60%, 50%);
$secondary-blue: hsl(192, 100%, 50%);
$tertiary-blue: hsl(220, 60%, 35%);

//HTML ELEMENTS
body {
    min-height: 100vh;
    min-width: fit-content;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

p {
    margin: 0.5rem 0;
    line-height: 25px;
}

//TYPOGRAPHY
.title {
    font-size: 30px;
    font-weight: 600;
    color: $primary-blue;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0.2rem;
    color: $primary-blue;
}

.has-text-justified {
    text-align: justify;
}

.has-text-centered {
    text-align: center;
}

.error-text {
    color: $danger;
}

.success-text {
    color: $success;
}

//COMPONENTS
.navbar {
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
    gap: 15px;
    background: linear-gradient(to right, $primary-blue, $secondary-blue);
    p {
        margin: 0;
        color: $light;
        font-family: 'Quicksand', sans-serif;
    }
    .navbar-brand {
        align-self: center;
        p {
            font-size: 25px;
        }
    }
    .navbar-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (min-width: 1080px) {
            align-self: center;
            width: 1080px;
        }
    }
    .navbar-icon {
        all: unset;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin-top: 2px;
            font-size: 14px;
            font-weight: 300;
        }
        svg {
            fill: white;
            height: 20px;
            width: 20px;
        }
    }
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .hero-head {
        order: 0;
    }
    .hero-body {
        order: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-foot {
        order: 2;
        text-align: center;
        padding: 20px;
        background-color: $dark;
        color: $light;
        p {
            font-weight: 500;
            font-size: 14px;
            margin: 0.25rem;
        }
    }
}

.google-btn {
    margin: 10px 0;

    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 gba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: #1A73E8;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    cursor: pointer;
    
    &:hover {
      box-shadow: 0 -1px 0 gba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #5194EE;
      color: #FFFFFF;
    }
    
    &:focus {
      outline: none;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #696969;
      box-shadow: 0 -1px 0 gba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
}

.button.is-primary-blue {
    background-color: $primary-blue;
    color: $light;
    border: none;
    &:active {
        background-color: $tertiary-blue;
    }
}

//LAYOUT
.container {
    padding: 2vh 5vw;
    @media (min-width: 1080px) {
        align-self: center;
        width: 1080px;
        padding: 0;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}