@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$dark: hsl(0, 0%, 21%);

body {
    min-height: 100vh;
    min-width: fit-content;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

.title {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
    gap: 15px;
    background: linear-gradient(to right, #3366cc, #00ccff);
    p {
        margin: 0;
        color: white;
        font-family: 'Quicksand', sans-serif;
    }
    .navbar-brand {
        align-self: center;
    }
    .navbar-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (min-width: 1080px) {
            align-self: center;
            width: 1080px;
        }
    }
    .navbar-icon {
        all: unset;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            margin-top: 2px;
            font-size: 14px;
            font-weight: 300;
        }
        svg {
            fill: white;
            height: 20px;
            width: 20px;
        }
    }
}